block content

    h1= title
    input#search(type="search", placeholder="book name", name="searchbox")
    h3#results

script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='/javascripts/main.js')
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    